button
  font-family 'Inter', sans-serif
  font-weight 500
  color white
  cursor pointer
  border-radius 100px
  transition background .2s ease

  background red
  &:hover
    background pink

  font-size 18px
  padding 13px 24px

  @media (min-width ts-point)
    font-size 22px
    padding 16px 30px

  @media (min-width t-point)
    font-size 24px

  @media (min-width ds-point)
    padding 18px 36px

  @media (min-width dl-point)
    padding 21px 40px
