.footer
  background melon
  padding 0 5vw

  header
    padding-top 5vh
    padding-bottom 3vh

    form
      margin 1.4vh 0

    h3
      margin-bottom 2vh

      @media (min-width ts-point)
        // margin-bottom 4vh
        margin-bottom 1vh

      @media (min-width ds-point)
        margin-bottom 0


    @media (min-width ds-point)
      display flex
      align-items center
      padding-bottom 5vh

      h3
        flex 1 0 50%
        padding-right 30px

      // form
      //   margin 1.4vh 0


    @media (min-width dl-point)
      padding-top 10vh

    // @media (min-width ts-point)
    //   h3
    //     margin-bottom calc( 1vh + 1.4vh)
    //     margin-bottom 0

  main
    padding-top 5vh
    border-top solid 1px rgba(#000, .3)
    img
      height 34px

















