.header
  background melon
  padding 28px 5vw

  @media (min-width ts-point)
    padding 30px 5vw
    padding-bottom calc(30px + 2vh)


  img
    height 34px

    @media (min-width ts-point)
      height 40px
