.main
  background melon
  padding 1vh 5vw 6.4vh 5vw

  @media desktop-s
    padding-top 2vh
    padding-bottom 8.4vh

  @media desktop-l
    padding-top 4vh
    padding-bottom 10.4vh

  h1
    margin-bottom 3vh

    @media desktop-s
      margin-bottom 4.5vh