section
  padding 3vh 5vw

  h2
    margin-bottom 2.5vh

  figure
    aspect-ratio 1/1
    border-radius 13px
    overflow hidden
    margin-bottom 2vh
    img
      height 100%
      width 100%
      object-fit cover

  .tag
    margin-bottom calc(5px + .5vh)

  .title
    margin-bottom 1.5vh

  .text
    clamp3()