.tag
  font-family 'Inter', sans-serif
  font-size 13px
  font-weight 500

  background gray-tag

  padding 3.5px 8px
  border-radius 100px

  display table

  @media desktop
    font-size 14px
    padding 6px 10px

